<ion-view view-title="Buttons">
  <ion-content>
	  <div class="card">
		  <div class="item item-divider">
	        <center>Simple Buttons</center>
	      </div>
		  <div class="item item-text-wrap">
			<button class="button button-light">
			  Block Button Light
			</button>

			<button class="button button-stable">
			  Block Button Stable
			</button>

			<button class="button button-positive">
			  Block Button Positive
			</button>

			<button class="button button-dark">
			  Block Button Dark
			</button>
		</div>
		<div class="item item-divider">
	      <center>Block Buttons</center>
	    </div>
	    <div class="item item-text-wrap">
	      <button class="button button-block button-light">
		    Block Button Light
		  </button>
		  <button class="button button-block button-stable">
		    Block Button Stable
		  </button>
		  <button class="button button-block button-positive">
		    Block Button Positive
		  </button>
		  <button class="button button-block button-dark">
		    Block Button Dark
		  </button>
	    </div>
	    <div class="item item-divider">
	      <center>Icon Buttons</center>
	    </div>
	    <div class="item item-text-wrap">
	      <button class="button">
 		    <i class="icon ion-loading-c"></i> Loading...
		  </button>

   		  <button class="button icon-left ion-home">Home</button>

		  <button class="button icon-left ion-star button-positive">Favorites</button>

		  <a class="button icon-right ion-chevron-right button-calm">Learn More</a>

		  <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

		  <button class="button icon ion-gear-a"></button>

		  <a class="button button-icon icon ion-settings"></a>

		  <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
	    </div>
    
  </ion-content>
</ion-view>
