<ion-view view-title="List">
	<ion-content>

	<div class="list">
	  <div class="item item-button-right">
	    Call Button
	    <button class="button button-positive">
	      <i class="icon ion-ios-telephone"></i>
	    </button>
	  </div>
	  <div class="item item-button-right">
	    Contact Button
	    <button class="button button-positive">
	      <i class="icon ion-ios-contact"></i>
	    </button>
	  </div>
	  <div class="item item-button-right">
	    Calendar
	    <button class="button button-positive">
	      <i class="icon ion-ios-calendar-outline"></i>
	    </button>
	  </div>
	</div>
  
  </ion-content>
</ion-view>
