<ion-view view-title="List">
	<ion-content>

	<div class="list">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/list/bon_iver.jpg">
	      <h2>Bon Iver</h2>
	      <p>Bon Iver</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/list/salad_days.jpg">
	      <h2>Salad Days</h2>
	      <p>Mac Demarco</p>
	    </a>
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/list/caress_your_soul.jpg">
	      <h2>Caress Your Soul</h2>
	      <p>Sticky Fingers</p>
	    </a>
	</div>
  
  </ion-content>
</ion-view>
