<ion-view view-title="Buttons">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<center>Bar Buttons</center>
			</div>
			<div class="item item-text-wrap">
				<div class="button-bar">
				  <a class="button button-light">First</a>
				  <a class="button button-light">Second</a>
				  <a class="button button-light">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-stable">First</a>
				  <a class="button button-stable">Second</a>
				  <a class="button button-stable">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-positive">First</a>
				  <a class="button button-positive">Second</a>
				  <a class="button button-positive">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-calm">First</a>
				  <a class="button button-calm">Second</a>
				  <a class="button button-calm">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-balanced">First</a>
				  <a class="button button-balanced">Second</a>
				  <a class="button button-balanced">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-energized">First</a>
				  <a class="button button-energized">Second</a>
				  <a class="button button-energized">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-assertive">First</a>
				  <a class="button button-assertive">Second</a>
				  <a class="button button-assertive">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-royal">First</a>
				  <a class="button button-royal">Second</a>
				  <a class="button button-royal">Third</a>
				</div>
				<br />
				<div class="button-bar">
				  <a class="button button-dark">First</a>
				  <a class="button button-dark">Second</a>
				  <a class="button button-dark">Third</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>