<ion-view view-title="Buttons">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<center>Basic Buttons</center>
			</div>
			<div class="item item-text-wrap">
				<center>
					<button class="button button-light">
						Basic Light Button
					</button>
					<br />
					<br />
					<button class="button button-stable">
						Basic Stable Button
					</button>
					<br />
					<br />
					<button class="button button-positive">
						Basic Positive Button
					</button>
					<br />
					<br />
					<button class="button button-calm">
						Basic Calm Button
					</button>
					<br />
					<br />
					<button class="button button-balanced">
						Basic Balanced Button
					</button>
					<br />
					<br />
					<button class="button button-energized">
						Basic Energized Button
					</button>
					<br />
					<br />
					<button class="button button-assertive">
						Basic Assertive Button
					</button>
					<br />
					<br />
					<button class="button button-royal">
						Basic Royal Button
					</button>
					<br />
					<br />
					<button class="button button-dark">
						Basic Dark Button
					</button>
				</center>
			</div>
		</div>
	</ion-content>
</ion-view>