<ion-view view-title="Buttons">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<center>Block Buttons</center>
			</div>
			<div class="item item-text-wrap">
				<button class="button button-block button-light">
					Block Button Light
				</button>
				<button class="button button-block button-stable">
					Block Button Stable
				</button>
				<button class="button button-block button-positive">
					Block Button Positive
				</button>
				<button class="button button-block button-calm">
					Block Button Calm
				</button>
				<button class="button button-block button-balanced">
					Block Button Balanced
				</button>
				<button class="button button-block button-energized">
					Block Button Energized
				</button>
				<button class="button button-block button-assertive">
					Block Button Assertive
				</button>
				<button class="button button-block button-royal">
					Block Button Royal
				</button>
				<button class="button button-block button-dark">
					Block Button Dark
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>