<ion-view view-title="Buttons">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<center>Clear Buttons</center>
			</div>
			<div class="item item-text-wrap">
				<center>
					<button class="button button-clear button-light">
					  Clear Button Light
					</button>
					<br />
					<button class="button button-clear button-stable">
					  Clear Button Stable
					</button>
					<br />
					<button class="button button-clear button-positive">
					  Clear Button Positive
					</button>
					<br />
					<button class="button button-clear button-calm">
					  Clear Button Calm
					</button>
					<br />
					<button class="button button-clear button-balanced">
					  Clear Button Balanced
					</button>
					<br />
					<button class="button button-clear button-energized">
					  Clear Button Energized
					</button>
					<br />
					<button class="button button-clear button-assertive">
					  Clear Button Assertive
					</button>
					<br />
					<button class="button button-clear button-royal">
					  Clear Button Royal
					</button>
					<br />
					<button class="button button-clear button-dark">
					  Clear Button Dark
					</button>
				</center>
			</div>
		</div>
	</ion-content>
</ion-view>