<ion-view view-title="Buttons">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<center>Full Width Block Buttons</center>
			</div>
			<div class="item item-text-wrap">
				<button class="button button-full button-light">
				  Full Width Light Button
				</button>
				<button class="button button-full button-stable">
				  Full Width Stable Button
				</button>
				<button class="button button-full button-positive">
				  Full Width Positive Button
				</button>
				<button class="button button-full button-calm">
				  Full Width Calm Button
				</button>
				<button class="button button-full button-balanced">
				  Full Width Balanced Button
				</button>
				<button class="button button-full button-energized">
				  Full Width Energized Button
				</button>
				<button class="button button-full button-assertive">
				  Full Width Assertive Button
				</button>
				<button class="button button-full button-royal">
				  Full Width Royal Button
				</button>
				<button class="button button-full button-dark">
				  Full Width Dark Button
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>