<ion-view view-title="Buttons">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<center>Icon Buttons</center>
			</div>
			<div class="item item-text-wrap">
				<center>
					<button class="button">
						<i class="icon ion-loading-c"></i> Loading...
					</button>
					<br /><br />
					<button class="button icon-left ion-home">
						Home
					</button>
					<br /><br />
					<button class="button icon-left ion-star button-positive">
						Favorites
					</button>
					<br /><br />
					<a class="button icon-right ion-chevron-right button-calm">
						Learn More
					</a>
					<br /><br />
					<a class="button icon-left ion-chevron-left button-clear button-dark">
						Back
					</a>
					<br /><br />
					<button class="button icon ion-gear-a"></button>
					<br /><br />
					<a class="button button-icon icon ion-settings"></a>
					<br /><br />
					<a class="button button-outline icon-right ion-navicon button-balanced">
						Reorder
					</a>
				</center>
			</div>
		</div>
	</ion-content>
</ion-view>