<ion-view view-title="Buttons">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<center>Outlined Buttons</center>
			</div>
			<div class="item item-text-wrap">
				<center>
					<button class="button button-outline button-light">
					  Outlined Light Button
					</button>
					<br /><br />
					<button class="button button-outline button-stable">
					  Outlined Stable Button
					</button>
					<br /><br />
					<button class="button button-outline button-positive">
					  Outlined Positive Button
					</button>
					<br /><br />
					<button class="button button-outline button-calm">
					  Outlined Calm Button
					</button>
					<br /><br />
					<button class="button button-outline button-balanced">
					  Outlined Balanced Button
					</button>
					<br /><br />
					<button class="button button-outline button-energized">
					  Outlined Energized Button
					</button>
					<br /><br />
					<button class="button button-outline button-assertive">
					  Outlined Assertive Button
					</button>
					<br /><br />
					<button class="button button-outline button-royal">
					  Outlined Royal Button
					</button>
					<br /><br />
					<button class="button button-outline button-dark">
					  Outlined Dark Button
					</button>
				</center>
			</div>
		</div>
	</ion-content>
</ion-view>