<ion-view view-title="Select">
	<ion-content>

		<div class="list">
			<label class="item item-input item-select">
				<div class="input-label">Jedi</div>
				<select>
					<option>Yoda</option>
					<option selected>Obi-Wan Kenobi</option>
					<option>Luke Skywalker</option>
				</select>
			</label>

			<label class="item item-input item-select">
				<div class="input-label">Lightsaber</div>
				<select>
					<option>Blue</option>
					<option selected>Green</option>
					<option>Red</option>
				</select>
			</label>
		</div>
		
	</ion-content>
</ion-view>